@media (max-width: 600px){
    .top-container{
        display: flex;
        margin-top: 20px;
        width: 100vw;
    }
    .back__btn-container{
        margin-top: 10px;
        margin-left: 30px;
    }
    .back__btn-container a{
        text-decoration: none;
        font-size: 15px;
        color: #5C5C5C;
    }
    .ogDetail__ib__logo-container{
        margin-left: 100px;
    }
    .logo-container img{
        width: 37px;
        height: auto;
    }
    .ogDetail__hero-container{
        margin-top: 10px;
    }
    .ogDetail__hero-container img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }
}
@media (min-width: 601px) {
    .top-container{
        display: flex;
        margin-top: 20px;
        width: 100vw;
    }
    
    .ogDetail__ib__logo-container{
        margin-left: 18.75rem;
    }
    .logo-container img{
        width: 37px;
        height: auto;
    }
    .ogDetail__hero-container{
        margin-top: 10px;
    }
    .ogDetail__hero-container img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }
    .back__btn-container{
        margin-top: 10px;
        margin-left: 30px;
    }
    .back__btn-container a{
        text-decoration: none;
        font-size: 15px;
        color: #5C5C5C;
    }
}
@media (min-width: 821px) {
    .back__btn-container{
        visibility: hidden;
    }
    .ogDetail__ib__logo-container{
        margin-left: 0;
    }
}