@media (max-width: 600px) {
    section{
        display:flex;
        text-align: center;
    }
   .skillsContainer{
       background-color: #e8e8e8;
   } 
   .row{
       margin-bottom: 75px;
   }
   .column h3{
       margin-top: 50px;
       text-align: center;
       
   }
   .column p{
       padding: 0 50px;
       margin-left: auto;
       margin-right: auto;
   }
   .dtav-container{
       background-color: #B9C89F;
       height: 841px;
       width: 100vw;
   }
   .ogDetail-container{
       background-color: #292828;
       height: 841px;
       width: 100vw;
       text-align: center;
       
   }
   .ogDetail__image-container, .dtav__image-container{
       width: 100vw;
       margin: 100px auto;
   }
   .ogDetail__image-container img, .dtav__image-container img{
    width: 262px;
    object-fit: cover;
    min-width: 0;
    border-radius: 10px;
    -webkit-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45); 
    box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45);
   }
   .og__logo-container{
       text-align: center;
       margin-top: 100px;
   }
   .og__logo-container img, .dtav__logo-container img{
       height: 120px;
       width:323px;
       object-fit: cover;
       min-width: 0;
       opacity: .5;
   }
   .og__description-container p, .dtav__description-container p{
       padding: 0 50px;
       
   }
   .twadeUp-container{
       background-color: #C7CCC1;
       height: 874px;
       width: 100vw;
       text-align: center;
   }
   .twadeUp__logo-container{
       height: 278px;
   }
   .twadeUp__logo-container img{
       height: 278px;
       width: 278px;
       opacity: .05;
       margin-top: 50px;
       object-fit: cover;
   }
   .tablet__phone-container{
       height: 200px;
       width: 100vw;
       text-align: center;
       
   }
   .twadeUp__tablet__image-container{
       position: relative;
       z-index: 0;
   }
   
   .twadeUp__tablet__image-container img{
        width: 17.685rem;
        object-fit: cover;
   }
   .tablet__phone-container .phone-image{
        height: 109px;
        object-fit: cover;
        position: absolute;
        bottom: 10px;
        z-index: 1;
   }
   .twadeUp__description-container h3{
       margin-top: 100px;
   }
   .twadeUp__description-container p{
       padding: 0 50px;
   }
    .oneCountry__description-container{
        margin-top: 100px;
    }
    .oneCountry__description-container p,h3{
        padding: 0 50px;
    }
    .oneCountry__image-container{
        height: 700px;
        position: relative;
    }
    .oneCountry__image-container img{
        height: auto;
        width: 350px;
        object-fit: cover;
    }
}
@media (min-width: 601px) {
    section{
        display:flex;
        text-align: center;
    }
    .skillsContainer{
       background-color: #e8e8e8;
   } 
    .row{
       margin-bottom: 75px;
   }
    .column h3{
       margin-top: 50px;
   }
    .column p{
       padding: 0 200px;
       margin-left: auto;
       margin-right: auto;
   }

   .dtav-container{
    background-color: #B9C89F;
    height: 1000px;
    width: 100vw;
    text-align: center;
    }
    .dtav__read__link{
        padding: 8px 30px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #718355;
        font-family: 'Gilroy';
        letter-spacing: .20px;
        text-decoration: none;
        font-size: 12px;
    }
    .ogDetail-container{
    background-color: #292828;
    height: 1000px;
    width: 100vw;
    text-align: center;
    }
    .ogDetail__image-container, .dtav__image-container{
    width: 100vw;
    margin: 100px auto;
    }
    .ogDetail__image-container img, .dtav__image-container img{
    height: auto;
    width: 500px;
    object-fit: cover;
    min-width: 0;
    border-radius: 10px;
    -webkit-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45); 
    box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45);
    }
    
    .og__logo-container, .dtav__logo-container{
        text-align: center;
        margin-top: 75px;
    }
    .og__logo-container img, .dtav__logo-container img{
        height: auto;
        width:323px;
        object-fit: cover;
        min-width: 0;
        opacity: .5;
    }
    .dtav__description-container, .og__description-container,.oneCountry__description-container{
        padding: 0 200px;
    }
    .oneCountry__image-container{
        height: 1004px;
    }
    .oneCountry__image-container img{
        height: auto;
        width: 70%;
        object-fit: cover;
    }
    .twadeUp-container{
        background-color: #C7CCC1;
        height: 1100px;
        width: 100vw;
        text-align: center;
    }
    .twadeUp__logo-container img{
        height: auto;
        width: 40%;
        opacity: .05;
        margin-top: 50px;
        object-fit: cover;
    }
    .tablet__phone-container{
        height: auto;
        width: 100vw;
        text-align: center;
    }
    
    .twadeUp__tablet__image-container img{
         width: 60%;
         height: auto;
         object-fit: cover;
    }
    .tablet__phone-container .phone-image{
         height: 109px;
         object-fit: cover;
         position: absolute;
         bottom: 10px;
         z-index: 1;
    }
    .twadeUp__description-container h3{
        margin-top: 100px;
    }
    .twadeUp__description-container p{
        padding: 0 200px;
    }
}

@media (min-width: 821px) {
    section{
        display: block;
        text-align: left;
    }
    .skills-container{
        background-color: #E8E8E8;
        height: 502px;
    }
    
    .row{
        display: flex;
    }
    .column{
        width: 33.33%;
        margin-top: 100px;
    }
    .column h3{
        padding: 0 100px;
        text-align: center;
    }
    .column p{
        padding: 0 100px;
        text-align: center;
    }
    .ogDetail-container{
        background-color: #292828;
        height: 991px;
        width: 100vw;
        max-width: 100vw;
        display: flex;
    }
    .dtav__container{
        display: flex;
    }
    .dtav__logo-container{
        text-align: left;
        margin-left: 100px;
        margin-top: 0;
    }
   
    .dtav__logo-container img{
        height: auto;
        width: 600px;
        order: 1;
    }
    .dtav__image-container{
        position: relative;
        margin: none;
        width: 49px;
        text-align: right;
        height: 120px;
    }
    .dtav__image-container img{
        width: 46.93rem;
        height: auto;
        position: absolute;
    }
    .dtav__description-container{
        padding: 0 100px;
        text-align: left;
        max-width: 40%;
        bottom: 0;
        
    }
    .dtav__Website-image{
        max-width: 800px;
        height: auto;
        object-fit: cover;
        border-radius: 32px;
        -webkit-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45); 
        box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45);
        text-align: right;
    }
    .ogDetail__image-container{
        position: relative;
        margin: none;
        width: 49px;
        height: 120px;
        left: 0;
    }
    .ogDetail__image-container img{
        width: 46.93rem;
        height: auto;
        object-fit: cover;
        border-radius: 32px;
        -webkit-box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45); 
        box-shadow: 3px 0px 20px 5px rgba(0,0,0,0.45);
        
    }
    .og__logo-container{
        margin: 0;
        padding-right: 100px;
        text-align: right;
    }
    .og__logo-container img{
        height: auto;
        width: 500px;
        opacity: 0.05;
        object-fit: cover;
        margin-top: 50px;
    }
    .ogDetail-container{
        display: block;
        height: 1000px;
    }
    .og__description-container{
        padding: 0 100px;
        max-width: 40%;
        bottom: 0;
        text-align: left;
    }
    .og__description-container p{
        color: white;
    }
    .oneCountry-container{
        display: flex;
    }
    .oneCountry__description-container{
        margin-top: auto;
        margin-bottom: auto;
    }
    .oneCountry__description-container p,h3{
        max-width: 481px;
    }
    .oneCountry__image-container{
        height: 1004px;
        width: 50vw;
        position: relative;
    }
    .oneCountry__image-container img{
        height: 300px;
        object-fit: cover;
        margin-left: 12.5rem;
    }
    .twadeUp-container{
        background-color: #C7CCC1;
        height: 1100px;
        width: 100vw;
    }
    .twadeUp__logo-container img{
        height: auto;
        width: 20%;
        opacity: .05;
        margin-top: 50px;
        object-fit: cover;
    }
    .tablet__phone-container{
        height: auto;
        width: 100vw;
        text-align: center;
    }
    .twadeUp__tablet__image-container{
        position: relative;
        margin: 0;
        height: 120px;
        text-align: left;
    }
    .twadeUp__tablet__image-container img{
         width: 40%;
         height: auto;
         object-fit: cover;
         padding-left: 200px;
    }
    .tablet__phone-container .phone-image{
         height: 109px;
         object-fit: cover;
         position: absolute;
         bottom: 10px;
         z-index: 1;
    }
    .twadeUp__description-container{
        width: 49vw;
        text-align: left;
        margin-left: 50vw;
    }
    .twadeUp__description-container p, .twadeUp__description-container h3{
        padding: 0 100px;
    }

}


