body{
  margin: 0;
  padding: 0;
  width: 100vw;
}
@media (max-width: 600px) {
  h1{
    color: #718355;
    color: #5F5F5F;
    font-weight: 200;
    font-size: 30px;
  }
  li, h3{
    color: #718355;
    font-weight: 200;
  }
  h3{
    font-size: 25px;
  }
  p{
    color: #5C5C5C;
    font-size: 10px;
  }
}
@media (min-width: 601px){
  h1{
    color: #718355;
    color: #5F5F5F;
    font-weight: 200;
    font-size: 40px;
  }
  li{
    color: #718355;
    font-weight: 200;
  }
  h3{
    color: #718355;
    font-weight: 200;
    font-size: 40px;
  }
}
@media (min-width: 821px){
  
  li, h3{
    color: #718355;
    font-weight: 200;
  }
  h3{
    font-size: 50px;
  }
  p{
    color: #5C5C5C;
    font-size: 16px;
  }
}


