@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts//Gilroy/Gilroy-Light.otf), url(./fonts/Gilroy/Gilroy-ExtraBold.otf), format('opentype');
}
body{
  font-family: 'Gilroy', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}
